<footer class='footer _centred-container'>
  <img class='footer__bg-image' src='img/footer-bg-pattern.svg' alt='' loading='lazy'>

  <div class='footer__top'>
    <section class="footer__about">
      <a href='index.html' class='logo' loading='lazy'>
        <div class='_contain-img'>
          <img src='img/Logo.svg' alt='logo'>
        </div>
      </a>
      <p>
        Takeaway & Delivery template <br>
        for small - medium businesses.
      </p>
    </section>

    <nav class='nav-list'>
      <span class="nav-list__title _uppercase">Company</span>

      <ul class='nav-list__list'>
        <li class="nav-list__li"><a href='#'>Home</a></li>
        <li class="nav-list__li"><a href='#'>Order</a></li>
        <li class="nav-list__li"><a href='#'>FAQ</a></li>
        <li class="nav-list__li"><a href='#'>Contact</a></li>
      </ul>
    </nav>
    <nav class='nav-list'>
      <span class="nav-list__title _uppercase">TEMPLATE</span>

      <ul class='nav-list__list'>
        <li class="nav-list__li"><a href='#'>Style Guide</a></li>
        <li class="nav-list__li"><a href='#'>Changelog</a></li>
        <li class="nav-list__li"><a href='#'>License</a></li>
        <li class="nav-list__li"><a href='#'>Webflow University</a></li>
      </ul>
    </nav>
    <nav class='nav-list'>
      <span class="nav-list__title _uppercase">FLOW BASE</span>

      <ul class='nav-list__list'>
        <li class="nav-list__li"><a href='#'>More Moveables</a></li>
      </ul>
    </nav>
  </div>

  <div class='footer__determiner'></div>

  <div class='footer__bottom'>
    <section class='creator-info'>
      <p>Builded by <span class="creator-info__span">Ulyanov Ivan</span></p>

      <p>Powered by <a href='https://github.com/Ulyanov-programmer/gulp_multitool' class="creator-info__span creator-info__ref">gulp_multitool</a></p>
    </section>

    <div class='footer__socials'>
      <a href='#' class='footer__social-item' aria-label='we on instagram'>
        <img src='img/socials/instagram.svg' loading='lazy' alt='we on instagram'>
      </a>
      <a href='#' class='footer__social-item' aria-label='we on twitter'>
        <img src='img/socials/twitter.svg' loading='lazy' alt='we on twitter'>
      </a>
      <a href='#' class='footer__social-item' aria-label='we on youtube'>
        <img src='img/socials/youtube.svg' loading='lazy' alt='we on youtube'>
      </a>
    </div>
  </div>
</footer>