<header class='header'>
  <section class='header__important-section'>
    <div class='header__important-container _centred-container'>
      <p class="header__important-span">We're open and available for takeaway & delivery.</p>
      <a href='#' target='_self' rel='noopener noreferrer' class="header__important-ref">Order Now</a>

      <img class='decor-image top-left-wave' alt='' src='img/icons/background_wave-left.svg'>
      <img class='decor-image top-right-wave' alt='' src='img/icons/background_wave-right.svg'>
    </div>
  </section>

  <div class='header__body _centred-container'>
    <a href='index.html' class='logo'>
      <img src='img/Logo.svg' alt='logo'>
    </a>

    <nav class='navmenu _cover-img'>
      <ul class='navmenu__body'>
        <li>
          <a class='active' target='_blank' rel='noopener' href='#'>
            Home
          </a>
        </li>
        <li>
          <a class='' target='_blank' rel='noopener' href='#'>
            Order
          </a>
        </li>
        <li>
          <a class='' target='_blank' rel='noopener' href='#'>
            Company
          </a>
        </li>
        <li>
          <a class='' target='_blank' rel='noopener' href='#'>
            FAQ
          </a>
        </li>
        <li>
          <a class='' target='_blank' rel='noopener' href='#'>
            Contact
          </a>
        </li>
      </ul>
    </nav>


    <button data-toggle-sidebar-id='cart-list' data-items-count='10' class='cart-button' aria-label='Your cart' type='button'>
      <img src='img/icons/cart.svg' alt='cart icon'>
    </button>
  </div>
</header>

<aside class='cart-list sidebar' id='cart-list'>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
  <article class='burger-card burger-card_mini'>
    <div class="burger-card__preview _contain-img">
      <img src='img/burger.png' loading='lazy' alt='burger 1'>
    </div>

    <p class="burger-card__title">Burger Dreams</p>
    <p class="burger-card__price">$ 9.20 USD</p>

    <footer class="burger-card__footer">
      <input class='burger-card__counter active-element active-element_transparent active-element_minified' type='number' step='1' min='1' name='counter' value='1'>
      <button type='button' class='burger-card__add-button active-element active-element_black-color active-element_minified'>Remove</button>
    </footer>
  </article>
</aside>

<div class='cart-swipe-area' data-swipe-element='#cart-list'></div>