/* Inter-VariableFont_slnt,wght.ttf */
@font-face {
  font-style: normal;
  font-weight: 100 1000;
  src: url("../../fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2-variations");
  font-family: "Inter";
  font-display: swap;
}
